//- img(src="/images/logo-1.png")
h3 Confirmation de commande DISTRAL
h3 Nous vous confirmons la bonne réception de votre commande.
fieldset
	legend Details Commande
	div
		strong Date
	div
		span #{moment(commande.updatedAt).format('dddd, Do MMMM YYYY, h:mm:ss a')}
	br
	div
		strong Client
	div
		span Entreprise&nbsp;
		span #{client.entreprise}
		br
		span Téléphone&nbsp;
		span #{client.telephone}
		br
		span Adresse&nbsp;
		span #{client.adresse} - #{client.ville} - #{client.pays}
		br
		span N° TVA&nbsp;
		span #{client.numTva}
		br
		span N° TVA intracommunautaire&nbsp;
		span #{client.numTvaIntra}
		br
	br
	br
	div
		strong Intitulé commande : #{commande.intitule}
	div Poids unitaire en g : #{commande.poid}
	div Format : #{commande.format}
	div Distribution : #{commande.distribution} 

	fieldset
		legend Zone de distribution
		each zone in commande.zones
			div #{zone.Ville} - #{zone.region}
		br
		strong Nombre de ville #{commande.zones.length}
		
		br
		strong Total Net #{totalNet}
	if commande.total >= 0
		br
		strong Montant HT : #{commande.totalHT}&nbsp;€
		br
		strong Montant TTC : #{commande.total}&nbsp;€
	else
		br
		strong Montant sur devis

//- strong Conditions de distribution :
strong 1 : CONTRAT
- Les présentes conditions générales s’appliquent aux services proposés par Distrib’Eco.
- La signature du devis ou acceptation par courrier électronique, non modifié par le client vaut contrat entre les parties.

strong 2 : LES GARANTIES
p - Le client assume l’entière responsabilité de la campagne publicitaire qu’il réalise, plus particulièrement qu’elle ne contrevienne à aucun droit de propriété intellectuelle, de respect de la vie privée ou droit d’image.
p - Le client s’engage à ce que la campagne publicitaire respecte l’intégralité des dispositions légales et réglementaires en vigueur applicable en matière de publicité et respecte les recommandations de l’ARPP et plus généralement qu’ils respectent la réglementation Française et Européenne en vigueur applicable.
p - Le client garantit à Distrib’Eco dans le cadre du présent contrat à faire son affaire personnelle de toute réclamation ou procédure qu’elles qu’en soient les formes et natures.
p - Le client s’engage à régler directement à l’auteur de la réclamation toutes les sommes que celui-ci exigerait à Distrib’Eco. Le client assume la responsabilité des données remise à Distrib’Eco.

strong 3 : RESILIATION / ANNULATION / MODIFICATION
p - Le contrat peut être résilié par chacune des parties de plein droit et sauf préjudice des Dommages et Intérêts.
p - La résiliation ou annulation sera adressée à Distrib’Eco par lettre recommandée avec accusé de réception (LRAR) parvenant moins de 7 jours avant la date de début de distribution.
p - Toute modification du contrat client doit être vue avec un interlocuteur Distrib’Eco 7 jours avant la date de début de distribution.

strong 4 : CONDITIONS FINANCIERES
p - Les prix appliqués sont ceux fixés au devis et s’entendent hors Taxes.
p - Les tarifs en vigueur sont disponibles auprès de votre interlocuteur Distrib’Eco.
p - Les prix indiqués sur les devis sont valables 1 mois.
p - Le règlement par le client se fera à la signature avec possibilité d’encaissement à 30 jours si règlement par chèque.
p - Distrib’Eco refuse toutes prestations en cas de non-règlement à la signature du contrat.
p - Le client est responsable du paiement intégral des commandes passées.

strong 5 : RESPONSABILITE
p - Distrib’Eco ne pourra être tenu responsable des préjudices indirects, tels que les préjudices commerciaux, perte de commandes, perte de bénéfice, absence ou faible réponse à une campagne publicitaire.
p - En cas d’intervention des autorités administratives et judiciaires, Distrib’Eco n’est tenu à aucun remboursement ni aucun dommage et intérêts.

strong 6 : DISTRIBUTION
p - Distrib’Eco mettra tous les moyens nécessaires à la distribution.
p - La distribution s’effectue sur les semaines et sur un découpage par secteurs prédéfinis à l’avance avec le client. Tout autre document ne sera pas pris en compte.
p - Toutes prestations sont réalisées par nos soins. Si Distrib’Eco doit recourir à un sous-traitant, elle conserve la direction et responsabilité des prestations.
p - Les boîtes aux lettres non accessibles, ainsi que les boîtes portant la mention STOP PUB ou tout autre refus de publicité ne seront pas distribuées.
p - Les imprimés doivent être conditionnés par paquets identiques, les livraisons en vrac ne sont pas acceptées.
p - Toutes livraisons des documents doivent parvenir au plus tard 5 jours avant la date de distribution.
p - Si le client souhaite que Distrib’Eco enlève les documents chez celui-ci, un forfait supplémentaire sera facturé sur le devis. 



strong Distral sa
br
strong Zone du Zare îlot ouest 16
br
strong L-4384 Ehlerange
br
strong Luxembourg
br
strong Tél.: 26 52 55 1 Fax : 26 52 55 12
